footer.animated.fadeIn
  div.container-flex
    div.item-flex-1
    div.item-flex-3
      h3 
        a(href="/", title="facebook")
          img(src="assets/images/options/facebook.png", alt="fb", width="33px", height="33px")
    div.item-flex-3
      h3.info 
        a(href="/", title="ПИШИ НИ") 
          i.fa.fa-envelope(aria-hidden="true")
    .item-flex-3
        a.youtube(href="/", title="youtube") 
            img(src="assets/images/options/youtube.png", alt="youtube", width="145px")
    div.item-flex-2 
      h3.copy myplace &copy; 2018