//-scripts
script(src='./resources/js/axios.min.js')
script(src='./resources/js/jquery.min.js')
script(src='./resources/js/handlebars.min.js')
script(src='./resources/js/navigo.min.js')
script(src='./resources/js/pixi.min.js')
script(src='./resources/cryptojslib/rollups/md5.js')
script(src='./resources/cryptojslib/components/enc-base64-min.js')
script(src='./resources/froala-wysiwyg-editor/js/froala_editor.min.js')
script(src='./resources/froala-wysiwyg-editor/js/plugins/font_size.min.js')
script(src='./resources/froala-wysiwyg-editor/js/plugins/font_family.min.js')
script(src='./resources/froala-wysiwyg-editor/js/plugins/link.min.js')
script(src='./business/js/helpers/logger.js')
script(src='./business/js/helpers/validator.js')
script(src='./business/js/helpers/notifier.js')
script(src='./business/js/helpers/storage.js')
script(src='./business/js/helpers/axios-requester.js')
script(src='./business/js/helpers/requester.js')
script(src='./business/js/helpers/template-loader.js')
script(src='./business/js/data.js')
script(src='./business/js/view.js')
script(src='./business/js/main.js')
script(src='./js/dom.js')