<form action="/add" method="POST">
    <section>
        <label for="name">Name: </label>
        <br>
        <input type="text" name="name" required>
    </section>
    <br>
    <section>
        <label for="age">Age: </label>
        <br>
        <input type="text" name="age" required>
    </section>
    <br>
    <section>
        <label for="email">Email: </label>
        <br>
        <input type="email" name="email" required>
    </section>
    <br>
    <input type="submit" value="Submit">
</form>