header .nav ul li a {
    text-decoration: none;
    margin: 2px;
}

header .nav ul li {
    background: white;
    border: 2px solid black;
    display: inline-block;
}

header .nav ul {
    background: steelblue;
    width: 50%;
    padding: 10px;
}

header .nav ul .selected {
    background: red;
}